# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
/.history

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem

/generated/prisma
packages/db/prisma/migrations/
# packages/nodes/src/google-sheets/token.js
packages/nodes/client_google.json
packages/db/tsconfig.tsbuildinfo
packages/db/prisma/migrations/migration_lock.toml
 apps/http-backend/tsbuildinfo


 workder/node_modules
 workder/dist